{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" class="row" enctype="multipart/form-data">
    <div class="col-6">
            <div class="card">
                <h3 class="card-title">
                    Вы успешно вышли из аккаунта!
                </h3>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Войти снова</button>
                </div>
            </div>
    </div>
</form>

{% endblock %}