{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" class="row" enctype="multipart/form-data">
    <div class="col-6">
        <div class="card">
            <h3 class="card-title">
                Генерация нового пароля
            </h3>
            <form method="POST" novalidate>
                {% csrf_token %}
                {{ form }}
                <p><input type="submit" value="Сбросить пароль" ></p>
            </form>
        </div>
    </div>
</form>

{% endblock %}