{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12 text-center">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-success" value="{% if object %}Сохранить{% else %}Cоздать{% endif%}">
                        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:notes' %}">Вернуться к записям</a>
                    </form>
                </div>
            </div>
</div>
{% endblock %}